h1, h2, h3, h4, p, body{
  text-align: center;
}
body{background-color: #e0ac27




;
}
body {
font-family: 'Tsukimi Rounded', sans-serif;
}


.show-one{
text-align: left;
width:0%;

}

.show-two{
text-align: right;
width: 30%;
}

.spotify{
width: 11%;
}
.bandcamp{
width:14%;
}
.apple{
width:12.5%;
}


.time{width:400px;}

.hamburlar{
width: 10px;
height: auto;
max-width: 10%;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

.social-icons {
position: fixed;
bottom: 20px;
left: 20px;
display: flex;
}

.icon {
margin-right: 10px;
display: block;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #fff;
color: #000;
text-align: center;
line-height: 40px;
font-size: 20px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease;
}

.icon.instagram {
color: #e1306c;
}

.icon.facebook {
color: #3b5998;
}

.icon.tiktok {
color: #000;
}